@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,500&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
/* Variaveis de cores */

html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --vermelho: #ff7a18;
  --preto: #171717;
  --cinzaEscuro: #373436;
  --cinza: #787878;
  --cinzaClaro: #c0c0c0;
}

/* Textos */

h1,
h2,
h3 {
  color: white;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

p {
  font-family: arial, sans-serif;
  color: var(--preto);
}

/* Imagens */

/* Header */
body {
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
}

#site-header,
#site-footer,
aside p {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  text-shadow: 0 4px 4px rgb(0 0 0 / 50%);
}

#msg-header {
  margin: 0 auto;
}
#msg-header > * {
  display: inline-block;
  vertical-align: middle;
}

#site-header h1 {
  vertical-align: top;
  margin-top: 50px;
}

#logo {
  margin: 0 auto;
}

#site-header h2 {
  margin-top: 100px;
}

/* Navigation */

#site-header nav {
  width: 100%;
}

#site-header nav ul {
  list-style: none;
  /* background: #333; */
  width: 100%;
  background: rgb(51, 51, 51);
  background: linear-gradient(
    180deg,
    rgba(51, 51, 51, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

#site-header li {
  width: 180px;
  height: 100px;
  display: inline-block;
  margin: 0 10px;
}

#site-header li:hover {
  border-radius: 20px;
}

#site-header a {
  color: white;
  text-decoration: none;
  font-size: 2em;
  height: 100px;
  width: 100%;
  display: block;
  margin: 25px auto;
}
#site-header a:visited {
  color: white;
}

#site-header a:hover {
  color: var(--vermelho);
}

/* Content */

main {
  margin: 0 auto;
  padding: 50px 10vw;
  width: 100%;
  height: 600px;
  overflow: hidden;
  font-family: "Asap", sans-serif;
  text-align: center;
  color: #373436;
}

.main-container {
  display: inline-block;
  width: 60%;
  max-width: 600px;
  height: 600px;
  filter: blue(2px);
  background: #333;
  box-shadow: 15px 15px 5px rgba(0, 0, 0, 2);
  margin-right: 5vw;
  vertical-align: top;
  position: relative;
}

.main-container h2 {
  font-size: 3em;
  margin: 10px;
}

@keyframes oloko-bixo {
  0%   {transform: rotate(0deg); font-size: 2em }
  10%  {transform: rotate(35deg); font-size: 3em }
  20%  {transform: rotate(70deg); font-size: 2em }
  30%  {transform: rotate(105deg); font-size: 3em }
  40%  {transform: rotate(140deg); font-size: 2em }
  50%  {transform: rotate(175deg); font-size: 3em }
  60%  {transform: rotate(210deg); font-size: 2em }
  70%  {transform: rotate(240deg); font-size: 3em }
  80%  {transform: rotate(270deg); font-size: 3em }
  90%  {transform: rotate(300deg); font-size: 3em }
  100% {transform: rotate(335deg); font-size: 2em }

}

.main-container p {
  font-size: 3em;
  color: var(--vermelho);
  transform: rotate(-20deg);
  margin-top: 40px;
  margin-left: 50px;
  animation-name: oloko-bixo;
  animation-duration: 5s;
  z-index: 2;
}

.main-container img {
  width: 100%;
  height: 90%;
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: 1;
}

aside {
  display: inline-block;
  width: 30%;
  max-width: 300px;
  height: 600px;
  background: #333;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 2);
}

.redes-sociais p {
  color: white;
  margin: 20px auto;
  font-size: 2.5em;
}

.redes-sociais a {
  display: block;
  margin: 30px;
}

@keyframes crescer {
  0% {width: 80px; height: 80px}
  50%{width: 90px; height: 90px}
  100%{width: 100px; height: 100px}
}

.redes-sociais img:hover {
  animation-name: crescer;
  animation-duration: 2s;
}

#site-footer {
  height: 200px;
}

#site-footer p {
  font-size: 2em;
}

#site-footer div {
  display: inline-block;
}

.contato ul {
  list-style: none;
}

#contato-titulo {
  font-size: 3.5em;
}

.contato li {
  font-family: 'Hachi Maru Pop', cursive;
  /* transform: rotate(20deg); */
  font-size: 2em;
  float: left;
  margin: 20px 10px;
}

.contato li:hover {
  animation-name: treme-treme;
  animation-duration: 3s;
}

@keyframes treme-treme {
  0% {font-size: 2em}
  100% {font-size: 3em}
}
.copyright {
  font-size: 3em;
}
